apiVersion: crunchydata.com/v1
kind: Pgtask
metadata:
  labels:
    pg-cluster: cluster1
    pgouser: admin
  name: backrest-backup1-cluster1
  namespace: pgo
spec:
  name: backrest-backup1-cluster1
  namespace: pgo
  parameters:
    backrest-command: backup
# backup type can be:
# Differential: Create a backup of everything since the last full back up was taken
# --type=diff
# Full: Back up the entire database
# --type=full
# Incremental: Back up everything since the last backup was taken, whether it was full, differential, or incremental
# --type=incr
# backup retention can be:
# --repo1-retention-full=2 how many full backups to retain
# --repo1-retention-diff=4 how many differential backups to retain
# --repo1-retention-archive=6 how many sets of WAL archives to retain alongside
# the full and differential backups that are retained
    backrest-opts: --type=full --repo1-retention-full=2
    backrest-s3-verify-tls: "true"
    backrest-storage-type: ""
    containername: database
    image-prefix: perconalab
    job-name: backrest-backup1-cluster1
    pg-cluster: cluster1
  storagespec:
    accessmode: ""
    matchLabels: ""
    name: ""
    size: ""
    storageclass: ""
    storagetype: ""
    supplementalgroups: ""
  tasktype: backrest
