apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../default/

patchesStrategicMerge:
- manager-target.yaml

images:
- name: postgres-operator
  newName: percona/percona-postgresql-operator
  newTag: 2.7.0
