apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../default/

patchesStrategicMerge:
- manager-target.yaml

images:
- name: postgres-operator
  newName: perconalab/percona-postgresql-operator
  newTag: K8SPG-594_delete_installed_ext
