apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../default/
images:
- name: postgres-operator
  newName: perconalab/percona-postgresql-operator
  newTag: main
patchesJson6902:
- patch: |-
    - op: add
      path: /metadata/namespace
      value: pg-operator
  target:
    kind: Deployment
    name: percona-postgresql-operator
