---
title: {{or .Metadata.Title "CRD Reference"}}
draft: false
weight: {{or .Metadata.Weight 100 }}
{{- if .Metadata.Description}}
description: {{.Metadata.Description}}
{{- end}}
---

API Versions:
{{range .Groups}}
- [{{.Group}}/{{.Version}}](#{{ anchorize (printf "%s/%s" .Group .Version) }})
{{- end -}}{{/* range .Groups */}}

{{- range .Groups }}
{{- $group := . }}

<h1 id="{{ anchorize (printf "%s/%s" .Group .Version) }}">{{.Group}}/{{.Version}}</h1>

Kinds:
{{range .Kinds}}
- [{{.Name}}](#{{ anchorize .Name }})
{{end}}{{/* range .Kinds */}}

{{range .Kinds}}
{{$kind := .}}
<h2 id="{{ anchorize .Name }}">{{.Name}}</h2>

|                 | |
|-----------------|-|
{{range .Types -}}
{{ $typeName := .Name }}

{{- range .Fields -}}
| **Key**         | {{"{{optionlink('" -}} {{$typeName}}.{{.Name}} {{- "')}}"}} |
| **Value**       | {{.Type}} |
| **Required**    | {{.Required}} |
| **Description** | {{.Description}} |
| | |
{{end}}

{{- end -}}{{/* range .Types */}}

{{- end}}{{/* range .Kinds */}}
{{- end}}{{/* range .Groups */}}
