apiVersion: pgv2.percona.com/v2
kind: PerconaPGUpgrade
metadata:
  name: cluster1-16-to-17
spec:
  postgresClusterName: cluster1
  image: docker.io/percona/percona-postgresql-operator:2.8.1-upgrade
  fromPostgresVersion: 16
  toPostgresVersion: 17
  toPostgresImage: docker.io/percona/percona-distribution-postgresql:17.7-1
  toPgBouncerImage: docker.io/percona/percona-pgbouncer:1.25.0-1
  toPgBackRestImage: docker.io/percona/percona-pgbackrest:2.57.0-1
