apiVersion: pgv2.percona.com/v2
kind: PerconaPGUpgrade
metadata:
  name: cluster1-15-to-16
spec:
  postgresClusterName: cluster1
  image: perconalab/percona-postgresql-operator:main-upgrade
  fromPostgresVersion: 15
  toPostgresVersion: 16
  toPostgresImage: perconalab/percona-postgresql-operator:main-ppg16-postgres
  toPgBouncerImage: perconalab/percona-postgresql-operator:main-ppg16-pgbouncer
  toPgBackRestImage: perconalab/percona-postgresql-operator:main-ppg16-pgbackrest
