apiVersion: pgv2.percona.com/v2
kind: PerconaPGUpgrade
metadata:
  name: cluster1-16-to-17
spec:
  postgresClusterName: cluster1
  image: docker.io/percona/percona-postgresql-operator:2.8.0-upgrade
  fromPostgresVersion: 16
  toPostgresVersion: 17
  toPostgresImage: docker.io/percona/percona-distribution-postgresql:17.6-1
  toPgBouncerImage: docker.io/percona/percona-pgbouncer:1.24.1-1
  toPgBackRestImage: docker.io/percona/percona-pgbackrest:2.56.0-1
