apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- manager.yaml
commonLabels:
  app.kubernetes.io/component: operator
  app.kubernetes.io/instance: percona-postgresql-operator
  app.kubernetes.io/name: percona-postgresql-operator
  app.kubernetes.io/part-of: percona-postgresql-operator
  pgv2.percona.com/control-plane: postgres-operator
