---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: percona-postgresql-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/component: operator
      app.kubernetes.io/instance: percona-postgresql-operator
      app.kubernetes.io/name: percona-postgresql-operator
      app.kubernetes.io/part-of: percona-postgresql-operator
  strategy: { type: Recreate }
  template:
    metadata:
      labels:
        app.kubernetes.io/component: operator
        app.kubernetes.io/instance: percona-postgresql-operator
        app.kubernetes.io/name: percona-postgresql-operator
        app.kubernetes.io/part-of: percona-postgresql-operator
    spec:
      containers:
      - name: operator
        image: postgres-operator
        imagePullPolicy: Always
        env:
          - name: PGO_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          - name: LOG_STRUCTURED
            value: "false"
          - name: LOG_LEVEL
            value: INFO
          - name: DISABLE_TELEMETRY
            value: "false"
          - name: PGO_WORKERS
            value: "1"
          - name: PPROF_BIND_ADDRESS
            value: "0"
        ports:
          - containerPort: 8080
            name: metrics
            protocol: TCP
        livenessProbe:
            failureThreshold: 3
            httpGet:
              path: /metrics
              port: metrics
              scheme: HTTP
        securityContext:
          allowPrivilegeEscalation: false
          capabilities: { drop: [ALL] }
          readOnlyRootFilesystem: true
          runAsNonRoot: true
      serviceAccountName: percona-postgresql-operator
