apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../crd
- ../rbac/cluster
- ../manager/cluster

images:
- name: postgres-operator
  newName: docker.io/percona/percona-postgresql-operator
  newTag: 2.8.2
