apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../crd
- ../rbac/namespace
- ../manager
images:
- name: postgres-operator
  newName: perconalab/percona-postgresql-operator
  newTag: k8spg-359-improvement-user-defined-secret-name
