apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../crd
- ../rbac/namespace
- ../manager/namespace
images:
- name: postgres-operator
  newName: ademajazzserve/percona-postgresql-operator
  newTag: dev_K8SPG-613-6
