apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../crd
- ../rbac/namespace
- ../manager/namespace
images:
- name: postgres-operator
  newName: docker.io/perconalab/percona-postgresql-operator
  newTag: k8spg-911-5803
