apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- bases/postgres-operator.crunchydata.com_crunchybridgeclusters.yaml
- bases/postgres-operator.crunchydata.com_postgresclusters.yaml
- bases/pgv2.percona.com_perconapgclusters.yaml
- bases/postgres-operator.crunchydata.com_pgupgrades.yaml
- bases/postgres-operator.crunchydata.com_pgadmins.yaml

patchesStrategicMerge:
- patches/versionlabel_in_perconapgclusters.yaml
- patches/versionlabel_in_perconapgbackups.yaml
- patches/versionlabel_in_perconapgrestores.yaml
- patches/versionlabel_in_perconapgupgrade.yaml
