name: Run tests
on: [pull_request]
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Clone the code
        uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: '^1.25.1'
      - uses: actions/checkout@v6
      - name: Basic tests
        run: make check
      - name: envtest
        run: ENVTEST_K8S_VERSION=1.35 make check-envtest
