name: Run tests
on: [pull_request]
jobs:
  test:
    name: Test
    runs-on: ubuntu-20.04
    steps:
      - name: Clone the code
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '^1.23'
      - uses: actions/checkout@v4
      - name: Basic tests
        run: make check
      - name: envtest
        run: ENVTEST_K8S_VERSION=1.28 make check-envtest
